.list>span {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 160px;
    position: relative;
    margin-bottom: 10px;
    border-top: 0.1px solid rgb(203, 200, 200);

}

.list>span:hover {
    cursor: pointer;
}

.list>span img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.list>span h2 {
    position: absolute;
    top: 10px;
    left: 90px;
}

.list>span span:nth-of-type(1) {
    position: absolute;
    left: 90px;
    top: 40px;
    color: gray;
}

.list>span span:nth-of-type(2) {
    position: absolute;
    left: 90px;
    top: 60px;
    font-weight: 700;
    font-size: 20px;
}

.list>span span:nth-of-type(3) {
    position: absolute;
    display: block;
    width: 620px;
    left: 90px;
    top: 90px;
    color: rgb(112, 110, 110);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list>span div:nth-of-type(1) {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 55px;
    bottom: 20px;
    text-align: center;
    line-height: 30px;

}

.list>span div:hover {
    cursor: pointer;
    color: rgb(43, 125, 184);
}