<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/article2.css">
</head>

<body>
    <div class="header">
        <img src="/static/jpg/xitu.png" class="xitu">
        <ul>
            <li>首页</li>
            <li>沸点</li>
            <li>课程</li>
            <li>直播</li>
            <li>活动</li>
            <li>竞赛</li>
            <li>商城</li>
            <li>App</li>
            <li>插件</li>
        </ul>
        <img src="/static/jpg/nian du bao gao.png" class="baogao">
        <div style="width: 300px;height:100%;display: flex;">
            <input type="search" value="">
            <div class="search_logo"></div>
        </div>
        <div class="header_create">创作者中心</div>
        <div class="header_person"></div>
    </div>
    <div class="article_information">
        <h1>timu</h1>
        <span class="creator_name">hu</span>
        <img class="creator_photo">
        <span class="create_time">time</span>
        <span class="read_number">number</span>
        <span class="category">category</span>
    </div>
    <div class="article_content">
        neirong
    </div>
    
    <div class="comment" id="com">
        <h2>评论</h2>
        <textarea placeholder="输入评论内容"></textarea>
        <button>发布</button>
        <div class="comment_list">
            <div>
                <img>
                <h4>author</h4>
                <div>content</div>
                <div>time</div>
                <div>huifu</div>
                <textarea></textarea>
                <button>fabu</button>
            </div>
            <span>
                <img>
                <h4>author</h4>
                <div>content</div>
                <div>time</div>
                <div>huifushei</div>
            </span>
        </div>
    </div>
    <div class="ico">
        <ul>
            <li class="like">
                <span></span>
                <div></div>
            </li>
            <li class="comments">
                <span></span>
                <div></div>
            </li>
            <li class="collect">
                <span></span>
            </li>
        </ul>
    </div>
    <script src="/static/js/header2.js"></script>
    <script src="/static/js/article13.js"></script>
</body>

</html>