<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/class-catelogue.css">
</head>

<body>
    <div class="header">
        <img src="/static/jpg/xitu.png" class="xitu">
        <ul>
            <li>首页</li>
            <li>沸点</li>
            <li>课程</li>
            <li>直播</li>
            <li>活动</li>
            <li>竞赛</li>
            <li>商城</li>
            <li>App</li>
            <li>插件</li>
        </ul>
        <img src="/static/jpg/nian du bao gao.png" class="baogao">
        <div style="width: 300px;height:100%;display: flex;">
            <input type="search" value="">
            <div class="search_logo"></div>
        </div>
        <div class="header_create">创作者中心</div>
        <img class="header_person">


    </div>
    <div class="class_head">
        <img>
        <h1>1</h1>
        <span>abstract</span>
        <button></button>
        <button>试学</button>
    </div>
    <div class="class_introduce">
        <div>
            <span>课程介绍</span>
            <span style="color: rgb(64, 146, 185);">目录</span>
        </div>
        <span class="catelogue_content">
            <div>
                <h4>1</h4>
                <h5>hjk</h5>
                <button></button>
            </div>
        </span>
    </div>
    <script src="/static/js/header2.js"></script>
    <script src="/static/js/class-catelogue20.js"></script>
</body>

</html>