<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>
    <div class="header">
        <img src="../static/jpg/xitu.png" class="xitu">
        <ul>
            <li>首页</li>
            <li>沸点</li>
            <li>课程</li>
            <li>直播</li>
            <li>活动</li>
            <li>竞赛</li>
            <li>商城</li>
            <li>App</li>
            <li>插件</li>
        </ul>
        <img src="../static/jpg/nian du bao gao.png" class="baogao">
        <div style="width: 300px;height:100%;display: flex;">
            <input type="search" value="">
            <div class="search_logo"></div>
        </div>
        <div class="header_create">创作者中心</div>
        <img class="header_person">
    </div>
    <nav>
        <ul>
            <li>综合</li>
            <li>关注</li>
            <li>后端</li>
            <li>前端</li>
            <li>Android</li>
            <li>iOS</li>
            <li>人工智能</li>
            <li>开发工具</li>
            <li style="color: rgb(98, 179, 230);">代码人生</li>
            <li>阅读</li>
        </ul>
    </nav>
    <div style="display: flex; justify-content: space-between;width: 1100px;margin: 150px auto;">
        <div style="width: 800px;">
            <div class="small_label">
                <ul>
                    <li class="common_list" style="color: rgb(79, 174, 237);">推荐</li>
                    <li class="new_list">最新</li>
                    <li class="hot_list">热榜</li>
                </ul>
            </div>
            <div id="passage_content">
                
            </div>
        </div>
        
    </div>
    <script src="../static/js/code3.js"></script>
    <script src="../static/js/header2.js"></script>
</body>

</html>