<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/creator-home2.css">
    <link rel="stylesheet" href="../static/css/l_side&head3.css">
    <style>
        @font-face {
            font-family: 'icomoon';
            src: url('../fonts/icomoon.eot?5yxzor');
            src: url('../fonts/icomoon.eot?5yxzor#iefix') format('embedded-opentype'),
                url('../fonts/icomoon.ttf?5yxzor') format('truetype'),
                url('../fonts/icomoon.woff?5yxzor') format('woff'),
                url('../fonts/icomoon.svg?5yxzor#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
            font-display: block;
        }
    </style>
</head>

<body>
    <div class="create-center">
        <img src="../static/jpg/xitu.png">
        <div class="fir">创作者中心</div>
        <div style="flex: 1;"></div>
        <img src="../static/jpg/tubiao.png">
        <img class="touxiang">
    </div>
    <div style="width: 1300px;height: 800px;margin:20px auto; display: flex;justify-content: space-between;">
        <div class="l-side">
            <div style="width: 100%;height: 100px;position: relative;">
                <img class="l_side_photo">
                <div class="l_side_name"></div>
            </div>
            <div class="l_side_write">写文章</div>
            <ul>
                <li class="creator_home">首页</li>
                <li class="charge_content">
                    内容管理
                    <a href="#" class="article_charge">文章管理</a>
                    <a href="#" class="column_charge">专栏管理</a>
                    <a href="#" class="boil_charge">沸点管理</a>
                </li>
                <li class="charge_data">数据中心
                    <a class="content_data">内容数据</a>
                    <a class="follow_data">关注者数据</a>
                </li>
                <li>创作成长</li>
                <li>活动中心</li>
                <li>帮助中心</li>
            </ul>

        </div>
        <div class="r-side" style="display: flex;flex-direction: column;justify-content: space-between;">
            <div class="lunbo">
                <ul id="imglist">
                    <li><img src="../static/jpg/pic1.webp"></li>
                    <li><img src="../static/jpg/pic2.webp"></li>
                    <li><img src="../static/jpg/pic3.webp"></li>
                    <li><img src="../static/jpg/pic4.png"></li>
                    <li><img src="../static/jpg/pic1.webp"></li>
                </ul>
                <ul id="icolist">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="pre"></div>
                <div class="nex"></div>
            </div>
            <div style="width: 100%; height: 450px; background-color: #fff;">
                <h3 style="margin: 15px;font-family: 'icomoon';font-size: 24px;font-weight: normal;">数据概览</h3>
                <div class="sjgl">
                    <span>
                        关注者总数
                        <h1></h1>
                    </span>
                    
                    <span>
                        文章阅读数
                        <h1></h1>
                    </span>
                    <span>
                        文章点赞数
                        <h1></h1>
                    </span>
                    <span>
                        文章评论数
                        <h1></h1>
                    </span>
                    <span>
                        文章收藏数
                        <h1></h1>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/creator-home1.js"></script>
    <script src="../static/js/l_side&head7.js"></script>
</body>

</html>