<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/edit-person.css">
    <link rel="stylesheet" href="/static/css/header.css">

</head>

<body>
    <div class="header">
        <img src="/static/jpg/xitu.png" class="xitu">
        <ul>
            <li>首页</li>
            <li>沸点</li>
            <li>课程</li>
            <li>直播</li>
            <li>活动</li>
            <li>竞赛</li>
            <li>商城</li>
            <li>App</li>
            <li>插件</li>
        </ul>
        <img src="/static/jpg/nian du bao gao.png" class="baogao">
        <div style="width: 300px;height:100%;display: flex;">
            <input type="search" value="">
            <div class="search_logo"></div>
        </div>
        <div class="header_create">创作者中心</div>
        <div class="header_person"></div>
    </div>
    <div class="ret">
        返回个人主页 </div>
    <div class="ifm">
        <div class="side">
            <ul>
                <li style="background-color: rgb(195, 229, 245);
                color: rgb(46, 139, 201);">个人资料</li>
                <li>账号设置</li>
                <li>消息设置</li>
                <li>简历管理</li>
                <li>屏蔽管理</li>
            </ul>
        </div>
        <div class="gerenziliao">
            <div class="xinxi">
                <h1 style="border-bottom: 1px;">个人资料</h1>
                <div class="fom">
                    <div>用户名 <input type="text" style="margin-left: 15px;"></div>
                    <div>职位 <input type="text" placeholder="填写你的职位"></div>
                    <div>公司 <input type="text" placeholder="填写你的公司"></div>
                    <div>主页 <input type="text" placeholder="填写你的个人主页"></div>
                    <div>个人介绍<textarea placeholder="填写你的个人介绍"
                            style="width: 450px; height: 50px; border: 1px solid rgb(47, 51, 53);"></textarea></div>
                     <div>选择头像<input type="file" class="cover"></div>       
                    <button>保存修改</button>
                </div>
            </div>
            
            <img class="touxiang">

        </div>
    </div>
    <script src="/static/js/edit-person5.js"></script>
    <script src="/static/js/header2.js"></script>
</body>

</html>