<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录注册</title>
    <link rel="stylesheet" href="../static/css/login_style.css">
</head>
<body>
    <div class="max">
      <h4>稀土掘金</h4>
        <div class="account">
        <label for="ac">账户</label><input type="text" id="ac" value="">
        </div>
        <div class="psw">
            <label for="pw">密码</label><input type="password" id="pw" value="">
        </div>
        <div>
            <button id="but">登录</button>
        </div>
        <div>
            <button onclick='location.href=("signUp")'>注册</button>
        </div>
    </div>
    <script src="../static/js/login1.js"></script>
</body>
</html>