<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/person-home-like-article.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/the-same-person4.css">
</head>

<body>
    <div class="header">
        <img src="/static/jpg/xitu.png" class="xitu">
        <ul>
            <li>首页</li>
            <li>沸点</li>
            <li>课程</li>
            <li>直播</li>
            <li>活动</li>
            <li>竞赛</li>
            <li>商城</li>
            <li>App</li>
            <li>插件</li>
        </ul>
        <img src="/static/jpg/nian du bao gao.png" class="baogao">
        <div style="width: 300px;height:100%;display: flex;">
            <input type="search" value="">
            <div class="search_logo"></div>
        </div>
        <div class="header_create">创作者中心</div>
        <img class="header_person">
    </div>
    <div class="sec">
        <div class="main">
            <img class="photo">
            <h1></h1>
            <img src="/static/jpg/logo.png" class="logo">
            <span class="span1">+你的人生格言是什么</span>
            <span class="span2">+你想从事什么事业</span>
            <div class="edit">编辑个人资料</div>
            <div class="quit">退出</div>
            <div class="fo">关注</div>
        </div>
        <div class="fol">
            <div>
                关注了
                <h2 class="fol1"></h2>
            </div>
            <div>
                关注者
                <h2 class="fol2"></h2>
            </div>
        </div>
    </div>
    <div class="nav-hd">
        <ul>
            <li>动态</li>
            <li>文章</li>
            <li>专栏</li>
            <li>沸点</li>
            <li>收藏集</li>
            <li>关注</li>
            <li style="color: rgb(85, 143, 237);">赞</li>
        </ul>
    </div>
    <div class="likes">
        <span  style="color: rgb(67, 159, 225);">文章</span>
        <span>沸点</span>
    </div>
    <div class="list">
        <!-- <div>
            <span>zuozhe123456</span>
            <span>2022-22-22 22-22-22</span>
            <span>biaoqian</span>
            <span>title</span>
            <span>content）删除历史文章后再参与活动的作者不算新人创作者，平台会进行监测；
                2）不能推荐自己；可推荐多位新人作者，多次填写问卷即可，但需要保持推荐人信息一致；
                3）问卷填写时间：截止至 2023年3月05日24点。
                
                作者：掘金酱
                链接：https://juejin.cn/post/7194721470063312933
                来源：稀土掘金
                著作权归作者所有。商业转载请联系作者获</span>
            <div>浏览11</div>
            <div>点赞22</div>
            <div>评论33</div>
        </div> -->
    </div>

    <script src="../static/js/person-home-like-article3.js"></script>
    <script src="/static/js/the-same-person17.js"></script>
    <script src="/static/js/header2.js"></script>

</body>

</html>