<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/publish_success.css">

</head>

<body>
    <div class="header">
        <img src="../static/jpg/xitu.png" class="xitu">
        <ul>
            <li>首页</li>
            <li>沸点</li>
            <li>课程</li>
            <li>直播</li>
            <li>活动</li>
            <li>竞赛</li>
            <li>商城</li>
            <li>App</li>
            <li>插件</li>
        </ul>
        <img src="../static/jpg/nian du bao gao.png" class="baogao">
        <div style="width: 300px;height:100%;display: flex;">
            <input type="search" value="">
            <div class="search_logo"></div>
        </div>
        <div class="header_create">创作者中心</div>
        <div class="header_person"></div>
    </div>
    <div class="pub">
        <img src="../static/jpg/picture.jpg">
        <h1>发布成功</h1>
        <button>跳转到首页</button>
    </div>
    <script src="../static/js/header2.js"></script>
    <script>
        let publish = document.querySelector('.pub').querySelector('button');
        publish.onclick = function () {
            location.href = '/home';
        }
    </script>
</body>

</html>