<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/reg_style.css">
</head>

<body>
    <div class="max">
        <h4>稀土掘金</h4>
            <div class="account">
                <label for="ac">账户</label><input type="text" id="ac"  value="" placeholder="请输入手机或邮箱号">
            </div>
            <div class="psw">
                <label for="pw">密码</label><input type="password" id="pw"  value=""
                    placeholder="4-10位数字或字母">
            </div>
            <div class="psw">
                <label for="pw2" class="yanzheng">验证密码</label><input type="password"  id="pw2" value=""
                    placeholder="重新输入">
            </div>
            <div>
                <button id="but" class="sub">注册</button>
            </div>
       
    </div>
    
    <script src="../static/js/reg1.js"></script>

</body>

</html>