<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
    <div class="header">
        <img src="/static/jpg/xitu.png" class="xitu">
        <ul>
            <li>首页</li>
            <li>沸点</li>
            <li>课程</li>
            <li>直播</li>
            <li>活动</li>
            <li>竞赛</li>
            <li>商城</li>
            <li>App</li>
            <li>插件</li>
        </ul>
        <img src="/static/jpg/nian du bao gao.png" class="baogao">
        <div style="width: 300px;height:100%;display: flex;">
            <input type="search" value="">
            <div class="search_logo"></div>
        </div>
        <div class="header_create">创作者中心</div>
        <img class="header_person" >     
    </div>
    <div class="search_list">
<!--        <div>-->
<!--            <span>zuozhe123456</span>-->
<!--            <span>2022-22-22 22-22-22</span>-->
<!--            <span>biaoqian</span>-->
<!--            <span>title</span>-->
<!--            <span>content/creator/content/article/threejs 是一个 3D JavaScript库，用于在网页上呈现3D内容。它是一个开源项目，旨在创建一个易于使用、轻量级、跨浏览器、通用的3D库。-->
<!--                当前版本包括WebGL（Web图形库）渲染器和JavaScript API，可无需插件用在任何兼容渲染交互式2D和3D图形的Web浏览器中。现代浏览器广泛支持WebGL。-->
<!--                WebGL是一个绘制点、线和三角形的底册API。要使用WebGL做任何有用的事情，它需要相当多的代码，这时产生了threejs。它处理高级功能，如场景、灯光、阴影、材质、纹理、3D数学等。-->
<!--                threejs还支持其他渲染器，如WebGPU、SVG和CSS3D。官方示例显示了高级用法-->
<!--                -->
<!--                作者：北鸟南游-->
<!--                链接：https://juejin.cn/post/7158832361977675807-->
<!--                来源：稀土掘金-->
<!--                著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。essays</span>-->
<!--            <div>浏览11</div>-->
<!--            <div>点赞22</div>-->
<!--            <div>评论33</div>-->
<!--        </div>-->

    </div>
    
    
    <script src="../static/js/search2.js"></script>
    <script src="/static/js/header2.js"></script>
</body>

</html>